
body{
    font-family: 'Outfit', sans-serif;
}
.background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;

    background-color: hsl(217, 54%, 11%);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 330px;
    height: 545px;

    border-radius: 15px;
    background-color: hsl(216, 50%, 16%);
    box-shadow: 0px 0px 25px 10px hsl(0, 0%, 0%);
}

.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px 0px;

    width: 280px;
}
.description{
    display: flex;
    flex-direction: column;
    
    gap: 15px;
}
.card-image{
    width: 280px;
    height: 280px;

    background-image: url(images/image-equilibrium.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
}
.card-image-hover{
    width: 100%;
    height: 100%;
    transition: background-color 0.5s ease-in;
    border-radius: 10px;
}
.card-image-hover:hover{
    cursor: pointer;
    transition: background-color 0.5s ease-in;
    background-color:hsl(178, 100%, 50%,0.2);
    background-image:url(images/icon-view.svg);
    
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
}

h1 {
    font-size: 22px;
    font-weight: 600;
    transition: color 0.5s ease-in;
    color: hsl(0, 0%, 100%);
}

.description h1:hover{
    cursor: pointer;

    transition: color 0.5s ease-in;
    color: hsl(178, 100%, 50%);
}
span{
    font-size: 18px;
    font-weight: 300;
    
    color: hsl(215, 51%, 70%)
}

.info-card{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 36px;
    width: 100%;
}
.icon-value{
    display: flex;
    align-items: center;

    gap: 0px 5px;
}

.icon-time{
    display: flex;
    align-items: center;

    gap: 0px 5px;
}

.icon-ethereum{
    width: 15px;
    height: 20px;

    background-image: url(images/icon-ethereum.svg);
    background-repeat: no-repeat;
}

.value{
    font-weight: bold;
    color: hsl(178, 100%, 50%);
}

.icon-clock{
    width: 15px;
    height: 15px;

    background-image: url(images/icon-clock.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.time-remaining{
    color: hsl(215, 51%, 70%);
}
.line{
    width: 100%;
    height: 3px;

    background-color: hsl(215, 32%, 27%);
}

.author{
    display: flex;
    align-items: center;

    gap: 0px 10px;
    width: 100%;
    height: 45px;
}

.profile-picture{
    width: 40px;
    height: 40px;
    background-image: url(images/image-avatar.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}
.author span{
    font-size: 16px;
    font-weight: 300;
}

strong{    
    transition: color 0.5s ease-in;
    font-size: 16px;
    font-weight: 300;
    color: hsl(0, 0%, 100%);
}
strong:hover{
    cursor: pointer;
    transition: color 0.5s ease-in;
    color: hsl(178, 100%, 50%);
}

.attribution{
    position: fixed;
    bottom: 0px;
}

@media(max-width:375px){
    body{
        font-family: 'Outfit', sans-serif;
    }
    .background{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 100vh;

        background-color: hsl(217, 54%, 11%);
    }

    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 330px;
        height: 545px;

        border-radius: 15px;
        background-color: hsl(216, 50%, 16%);
        box-shadow: 0px 0px 25px 10px hsl(0, 0%, 0%);
    }

    .card-content{
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 15px 0px;

        width: 280px;
    }
    .description{
        display: flex;
        flex-direction: column;
        
        gap: 15px;
    }
    .card-image{
        width: 280px;
        height: 280px;

        background-image: url(images/image-equilibrium.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        border-radius: 10px;
    }
    .card-image-hover{
        width: 100%;
        height: 100%;
        transition: background-color 0.5s ease-in;
        border-radius: 10px;
    }
    .card-image-hover:hover{
        transition: background-color 0.5s ease-in;
        background-color:hsl(178, 100%, 50%,0.2);
        background-image:url(images/icon-view.svg);
        
        background-repeat: no-repeat;
        background-size: 60px;
        background-position: center;
    }

    h1 {
        font-size: 22px;
        font-weight: 600;
        transition: color 0.5s ease-in;
        color: hsl(0, 0%, 100%);
    }

    .description h1:hover{
        transition: color 0.5s ease-in;
        color: hsl(178, 100%, 50%);
    }

    span{
        font-size: 18px;
        font-weight: 300;

        
        color: hsl(215, 51%, 70%)
    }

    .info-card{
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 36px;
        width: 100%;
    }
    .icon-value{
        display: flex;
        align-items: center;

        gap: 0px 5px;
    }

    .icon-time{
        display: flex;
        align-items: center;

        gap: 0px 5px;
    }

    .icon-ethereum{
        width: 15px;
        height: 20px;

        background-image: url(images/icon-ethereum.svg);
        background-repeat: no-repeat;
    }

    .value{
        font-weight: bold;
        color: hsl(178, 100%, 50%);
    }

    .icon-clock{
        width: 15px;
        height: 15px;

        background-image: url(images/icon-clock.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .time-remaining{
        color: hsl(215, 51%, 70%);
    }
    .line{
        width: 100%;
        height: 3px;

        background-color: hsl(215, 32%, 27%);
    }

    .author{
        display: flex;
        align-items: center;

        gap: 0px 10px;
        width: 100%;
        height: 45px;
    }

    .profile-picture{
        width: 40px;
        height: 40px;
        background-image: url(images/image-avatar.png);
        background-repeat: no-repeat;
        background-size: cover;
        
        border: 1px solid hsl(0, 0%, 100%);
        border-radius: 50%;
    }
    .author span{
        font-size: 16px;
        font-weight: 300;
    }
    strong{
        font-size: 16px;
        font-weight: 300;
        color: hsl(0, 0%, 100%);
    }
}